# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a single command using the runners shell
    - name: Install SBCL
      run: sudo apt install sbcl curl cl-asdf
    
    - name: Install QuickLisp
      run: |
       curl -O https://beta.quicklisp.org/quicklisp.lisp
       sbcl --load quicklisp.lisp --eval '(progn (quicklisp-quickstart:install) (ql:add-to-init-file) (exit))'
       
    - name: Symlink oop
      run: mkdir -p /home/runner/quicklisp/local-projects/ && ln -s $GITHUB_WORKSPACE ~/quicklisp/local-projects/cloop

    # Runs a set of commands using the runners shell
    - name: Test
      run: sbcl --load /usr/share/common-lisp/source/cl-asdf/asdf.lisp --eval "(progn (require 'asdf)(asdf:test-system :oop)(exit))"
